<ion-view title="ON THE HOUSE">
  <ion-content class="homepage">
    <div class="item item-body">

      <img class="full-image" src="img/home-board.png">
      <!-- <h1>Discover Free Offers<br />In Your Area</h1> -->

      <p>Browse FREE OFFERS from local establishments offering, not coupons or discounts, but real FREE OFFERS just for visiting.</p>

      <h3>Make Every Hour, a Happy Hour... ON THE HOUSE!</h3>

      <div class="row">
		    <div class="col col-100 center">
  			   <a type="button" href="#/tab/available" class="button icon-left ion-ios7-checkmark-outline" >View Offers</a>
  	  	</div>
  	  </div>

    </div>

    <!-- <div class="row">
		  <div class="col col-100 center">
    		<p>	Latitude: {{geo.latitude}}<br />
    			Longitude: {{geo.longitude}} <br />
    			Altitude: {{geo.altitude}} <br />
    		</p>
    	</div>
  	</div> -->
    <!-- <button ng-click="getPhoto()" class="button button-block button-primary">Take Photo</button>
    <img ng-src="{{lastPhoto}}" style="max-width: 100%"> -->

  </ion-content>
</ion-view>